.hero {
    max-width: 910px;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
    margin: 0 auto;
}

.hero__card-container {
    padding: 0;
    padding-left: 40px;
}

.main__dishes .dishes-container { 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(200px, 1fr);
}